@using DAL.Models
@model IEnumerable<Todo>

@{
    ViewData["Title"] = "Todo List";
}

<h1>Todo List</h1>

<a href="@Url.Action("Create")" class="btn btn-primary">Create New Todo</a>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var todo in Model)
        {
            <tr>
                <td>@todo.Title</td>
                <td>@todo.Status</td>
                <td>@todo.Priority</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = todo.Id })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", new { id = todo.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
